.discover_page {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  min-height: 90vh;
  height: fit-content;
}

.discover_title {
  width: 60vw;
  font-size: 1.5rem;
  color: black;
  font-family: 'Epilogue';
  font-weight: bold;
  height: fit-content;
  display: flex;
  justify-content: start;
  padding: 10px;
}

.discover_othertitle {
  width: 60vw;
  font-size: 1.2rem;
  color: black;
  font-family: 'Epilogue';
  font-weight: bold;
  height: fit-content;
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  margin-top: 20px;
}

.discover_search {
  width: 60vw;
  height: fit-content;
  min-height: 5vh;
  padding: 10px;
}

.discover_searchbar {
  width: 58vw;
  height: fit-content;
  height: 5vh;
  padding: 1vh 1vw;
  font-size: 1.2rem;
  margin:0;
  border: 0;
  outline: 0;
  resize: none;
  background-color: #f3eee7;
  border-radius: 15px;
  overflow: hidden;
  overflow-x: auto;
  text-wrap: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  color: #b69e80;
}

.loading_discover {
font-family: 'Epilogue';
width: 60%;
padding: 10px 0;
text-align: left;
}

@media only screen and (max-width: 900px) {


  .discover_othertitle {
    width: 90vw;
  }

  .discover_title {
    width: 90vw;
  }  

  .discover_search {
    width: 90vw;
  }  

  .discover_searchbar {
    width: 88vw;
  }  

  .loading_discover {
    font-family: 'Epilogue';
    width: 90%;
    padding: 10px 0;
    text-align: left;
    }
    }
