@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

.dashnavbar {
  height: 10vh;
  width: 90vw;
  padding: 0 5vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: auto;
}

.dashlogo {
  font-family: "Epilogue";
  font-weight: bold;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashlogo_logo {
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashbtns {
  height: 100%;
  width: fit-content;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navs {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav {
  height: 8vh;
  margin: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 2vh;
}

.a {
  height: 5vh !important;
}
.dashbtn {
  height: 3vh;
  max-height: 25px;
  min-width: 5vw;
  width: fit-content;
  margin-left: 2vw;
  font-family: "Epilogue";
  background-color: #f1800d;
  border-radius: 15px;
  padding: 1vh 1vw;
  outline: 0;
  color: black;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.diffbtn {
  background-color: #f3eee7;
}

.dashtarea {
  height: 5vh;
  min-width: 14vw;
  font-family: "Epilogue";
  background-color: #f3eee7;
  border-radius: 15px;
  margin: 0;
  padding: 1vh 3vw;
  outline: 0;
  border: 0;
  resize: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
}

.dashtarea::placeholder {
  color: #b69e80;
}

.dashtarea:focus {
  outline: 0;
  border: 0;
}

.dropdown-toggle {
  display: none;
}

.dropdown-menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .dropdown-toggle {
    display: flex;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .navs {
    display: none;
  }

  .dashbtn {
    display: none;
  }

  .dropdown-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    padding: 0;
    height: 90vh;
    z-index: 5;
    width: 100vw;
    background-color: white;
    display: block;
  }  
}
